@mixin x-left($color, $size, $thickness) {
	@include line($color, $size, $thickness);
    transform: rotate(45deg);
}
@mixin x-right($color, $size, $thickness) {
	@include line($color, $size, $thickness);
    transform: rotate(-45deg);
}

@mixin line($color, $size, $thickness) {
    background-color: $color;
    content: '';
    position: absolute;
    width: $size * $thickness;
    height: $size;
}

@mixin circle($color, $size, $scale) {
    background-color: $color;                                                                        

    content: '';
    position: absolute;
    border-radius: 50%;

    width: $size * $scale;
    height: $size * $scale;
}
