@import "../utils/strAltColors", "../utils/res-mq", "../utils/utils", "./header/site_identifer", "./header/nav";

%header {
   width: 100vw;
   position: sticky;
   top: 0;
   display: flex;
   justify-content: space-between;

   background-color: lightgray;
   padding: 1.25rem 1.2rem;
   #company-identifier {
	   @extend %site-identifier;
   }
   nav {
	   @extend %nav;
   }
}
