@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main #results .modal-header, main #results {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

header #company-identifier #logo-icon {
  font-size: 1.45rem;
  color: blue;
}
@media (min-width: 768px) {
  header #company-identifier #logo-icon {
    visibility: hidden;
  }
}
header #company-identifier #company-name {
  margin-left: 5px;
  font-size: 1.5rem;
  visibility: hidden;
}
header #company-identifier #company-name span:nth-child(1)::after {
  content: "G";
  color: blue;
}
header #company-identifier #company-name span:nth-child(2)::after {
  content: "o";
  color: red;
}
header #company-identifier #company-name span:nth-child(3)::after {
  content: "o";
  color: yellow;
}
header #company-identifier #company-name span:nth-child(4)::after {
  content: "g";
  color: blue;
}
header #company-identifier #company-name span:nth-child(5)::after {
  content: "o";
  color: green;
}
header #company-identifier #company-name span:nth-child(6)::after {
  content: "l";
  color: red;
}
header #company-identifier #company-name span:nth-child(7)::after {
  content: "!";
  color: blue;
}
@media (min-width: 768px) {
  header #company-identifier #company-name {
    visibility: visible;
  }
}

header nav menu {
  list-style-type: none;
}
header nav menu li {
  font-size: 1.2rem;
  display: inline;
  cursor: pointer;
  margin-right: 1.25rem;
}
header nav menu li:hover {
  font-weight: bolder;
}

header nav {
  margin-top: 0.35rem;
}
header {
  width: 100vw;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  padding: 1.25rem 1.2rem;
}
header #cart-items {
  cursor: pointer;
}
header #cart-items i {
  font-size: 1.75rem;
}
header #cart-items.hidden {
  display: none;
}

footer #link-text a {
  margin: 0 1.5rem;
  font-size: 1.15rem;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

footer #footer-info #site-info ul {
  list-style-type: none;
}
footer #footer-info #site-info ul li {
  display: inline;
  cursor: pointer;
}
footer #footer-info #site-info ul li:not(:last-child) {
  margin-right: 1.2rem;
}

footer {
  background-color: lightgray;
  font-size: 1.15rem;
  width: 100vw;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 0.95rem;
}
footer #footer-info #copyright-info {
  font-size: 1rem;
}

main #features {
  margin: 2rem;
}
main #features .features-listing {
  margin: 2rem;
  display: flex;
}
main #features .features-listing #features-listing-icon {
  align-self: center;
  font-size: 2.5rem;
  margin: 0 2rem;
}
main #features .features-listing-text-heading {
  font-size: 1.5rem;
  font-weight: bold;
}
main #products {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 10px;
  text-align: center;
}
@media (min-width: 768px) {
  main #products {
    grid-template-columns: repeat(3, auto);
  }
}
main #products .product {
  border: 1px solid black;
  width: 400px;
}
main #products .product-header {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.85rem 0;
  background-color: lightgray;
}
main #products .product-price {
  font-size: 1.5rem;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
}
main #products .product-price span::before {
  content: "$";
}
main #products .product-price span:first-child::after {
  content: "‒";
  margin-left: 5px;
}
main #products .product-selling-points {
  margin: 1.2rem 1.75rem 0.95rem 4.75rem;
}
main #products .product-selling-points i {
  float: left;
  font-size: 3.75rem;
  margin-right: 3.25rem;
}
main #products .product-selling-points ul {
  list-style-type: none;
  text-align: left;
}
main #products .product .btn {
  display: inline-block;
  background: #000;
  color: #fff;
  font-family: inherit;
  font-size: 1.25rem;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  margin: 1.5rem 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 50%;
  background-color: goldenrod;
  color: black;
  border-radius: 0;
}
@media (min-width: 768px) {
  main #products .product:not(:last-child) {
    margin-right: 1.5rem;
  }
}

main #results .modal-body #recipe-results #recipe-result {
  margin: 0 auto;
  border: 1px solid lightgrey;
  width: 95%;
}
main #results .modal-body #recipe-results #recipe-result-image-thumb {
  width: 100%;
  height: 350px;
}
main #results .modal-body #recipe-results #recipe-result-title {
  position: relative;
  bottom: 325px;
  background-color: white;
  padding: 0.75rem 0;
  text-align: center;
  font-size: 1.5rem;
}
main #results .modal-body #recipe-results #recipe-result-ingredients-title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}
main #results .modal-body #recipe-results #recipe-result-ingredients ul {
  list-style-position: inside;
  margin: 0 2rem;
  column-count: 2;
}
main #results .modal-body #recipe-results #recipe-result-ingredients ul li span:first-child {
  margin: 0 0.25rem;
}
main #results .modal-body #recipe-results #recipe-result-instructions {
  padding: 1.2rem;
}
main #results .modal-body #recipe-results #recipe-result-instructions-title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}
main #results .modal-body #recipe-results #recipe-result-instructions-text-list {
  list-style-type: none;
  list-style-position: inside;
  counter-reset: instruction-step;
  column-count: 2;
}
main #results .modal-body #recipe-results #recipe-result-instructions-text-list li::before {
  counter-increment: instruction-step;
  content: "Step " counter(instruction-step) ". ";
  font-weight: bolder;
}
main #results .modal-body #recipe-results #recipe-result-instructions-text-list li::after {
  content: ".";
}

main #results .modal-body #recipe-results #recipe-results-controls-preamble {
  margin: 1.65rem 0;
  display: block;
  text-align: center;
  font-size: 1.25rem;
}
main #results .modal-body #recipe-results #recipe-results-controls-btn-group {
  display: flex;
  justify-content: center;
}
main #results .modal-body #recipe-results #recipe-results-controls-btn-group .btn {
  display: inline-block;
  background: #000;
  color: #fff;
  font-family: inherit;
  font-size: 0.75rem;
  text-decoration: none;
  padding: 0.75rem 1rem;
  margin: 0 0.5rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 6px 2px 9px 2px rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease-in-out;
  border-radius: 50%;
  background-color: transparent;
  color: black;
}
main #results .modal-body #recipe-results #recipe-results-controls-btn-group .btn:first-child {
  margin-right: 0.75rem;
}
main #results .modal-body #recipe-results #recipe-results-controls-btn-group .btn:active {
  box-shadow: none;
}
main #results .modal-body #recipe-results #recipe-results-controls-btn-group .btn:disabled {
  box-shadow: none;
  opacity: 0.2;
}
main #results .modal-body #recipe-results #recipe-results-controls-btn-group-count {
  align-self: center;
  font-size: 1.5rem;
}

main #results .modal-body #category-results {
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-row-gap: 15px;
}
@media (min-width: 768px) {
  main #results .modal-body #category-results {
    grid-template-columns: repeat(3, auto);
  }
}
main #results .modal-body #category-results .category-result {
  position: relative;
  margin: 0 auto;
  border: 1px solid lightgrey;
  width: 60%;
  height: 140px;
}
main #results .modal-body #category-results .category-result-image-thumb {
  width: 100%;
  height: 100%;
}
main #results .modal-body #category-results .category-result-title {
  display: inline-block;
  width: 100%;
  position: relative;
  bottom: 133px;
  background-color: white;
  padding: 0.25rem 0;
  text-align: center;
  font-size: 0.95rem;
}
main #results .modal-body #category-results .category-result .selection {
  display: inline-block;
  width: 100%;
  height: 100%;
  opacity: 70%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
}
main #results .modal-body #category-results .category-result .selection::before {
  position: relative;
  top: 20%;
  left: 40%;
  background-color: grey;
  content: "";
  position: absolute;
  width: 4%;
  height: 50%;
  transform: rotate(45deg);
  transform-origin: left bottom;
}
main #results .modal-body #category-results .category-result .selection::after {
  position: relative;
  top: 52%;
  left: 41%;
  background-color: grey;
  content: "";
  position: absolute;
  width: 4%;
  height: 20%;
  transform: rotate(-45deg);
  transform-origin: left bottom;
}
@media (min-width: 768px) {
  main #results .modal-body #category-results .category-result {
    margin: 0 auto;
    border: 1px solid lightgrey;
    width: 40%;
    height: 165px;
  }
  main #results .modal-body #category-results .category-result-image-thumb {
    width: 100%;
    height: 100%;
  }
  main #results .modal-body #category-results .category-result-title {
    display: inline-block;
    width: 100%;
    position: relative;
    bottom: 156.75px;
    background-color: white;
    padding: 0.35rem 0;
    text-align: center;
    font-size: 0.95rem;
  }
  main #results .modal-body #category-results .category-result .selection {
    display: inline-block;
    width: 100%;
    height: 100%;
    opacity: 70%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
  }
  main #results .modal-body #category-results .category-result .selection::before {
    position: relative;
    top: 20%;
    left: 40%;
    background-color: grey;
    content: "";
    position: absolute;
    width: 4%;
    height: 50%;
    transform: rotate(45deg);
    transform-origin: left bottom;
  }
  main #results .modal-body #category-results .category-result .selection::after {
    position: relative;
    top: 52%;
    left: 41%;
    background-color: grey;
    content: "";
    position: absolute;
    width: 4%;
    height: 20%;
    transform: rotate(-45deg);
    transform-origin: left bottom;
  }
}

main #results .modal-body #category-results #category-results-btn-group {
  display: flex;
  justify-content: space-evenly;
}
main #results .modal-body #category-results #category-results-btn-group .btn {
  display: inline-block;
  background: #000;
  color: #fff;
  font-family: inherit;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0.9rem 1.1rem;
  margin: 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 6px 2px 9px 2px rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease-in-out;
}
main #results .modal-body #category-results #category-results-btn-group .btn:active {
  box-shadow: none;
}
main #results .modal-body #category-results #category-results-btn-group .btn:disabled {
  box-shadow: none;
  opacity: 0.2;
}

main #results .modal-body #category-results #category-results-btn-group {
  grid-column: 1/-1;
}

main #results .modal-body #recipe-results-hdr {
  white-space: nowrap;
}
main #results .modal-body #recipe-results-hdr #tabs-hdr-btn-group .btn {
  border-radius: 0;
  background-color: #424242;
  transition: all 0.5s ease-in-out;
}
main #results .modal-body #recipe-results-hdr #tabs-hdr-btn-group .btn.enabled {
  background-color: #686868;
}
main #results .modal-body #recipe-results-hdr #tabs-hdr-btn-group-btn {
  display: inline-block;
  background: #000;
  color: #fff;
  font-family: inherit;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0.9rem 1.2rem;
  margin: 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  border-color: black;
  border-width: 1px;
}
main #results .modal-body #category-results.hidden {
  display: none;
}

main #results .modal-header, main #results {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

header .tooltip .tooltip-content #default-summary {
  text-align: center;
}
header .tooltip .tooltip-content #default-summary i {
  margin: 5rem 0;
  font-size: 15rem;
  color: gray;
  opacity: 0.5;
}
header .tooltip .tooltip-content #default-summary p {
  font-size: 2rem;
  font-weight: bolder;
  color: red;
}
header .tooltip .tooltip-content #default-summary p:last-child {
  color: black;
  font-size: 1.2rem;
}
header .tooltip .tooltip-content #default-summary p:last-child i {
  font-size: 1.5rem;
}
header .tooltip .tooltip-content #default-summary.hidden {
  display: none;
}

header .tooltip .tooltip-content #order-summary table caption {
  font-size: 1.5rem;
  padding: 1.25rem;
}

header .tooltip .tooltip-content #order-summary table thead tr {
  border-bottom: 1px solid #ddd;
}
header .tooltip .tooltip-content #order-summary table thead tr th {
  padding: 0.75rem 0;
}

header .tooltip .tooltip-content #order-summary table tbody tr th {
  font-weight: bolder;
}
header .tooltip .tooltip-content #order-summary table tbody tr td {
  padding: 0.75rem 0;
}
header .tooltip .tooltip-content #order-summary table tbody tr td:last-child::before {
  content: "$";
}

header .tooltip .tooltip-content #order-summary table tfoot tr th {
  font-size: 1.35rem;
}
header .tooltip .tooltip-content #order-summary table tfoot tr td {
  border-top: 1px dashed #aaa;
  padding: 1.5rem 0;
}
header .tooltip .tooltip-content #order-summary table tfoot tr td:last-child::before {
  content: "$";
}

header .tooltip .tooltip-content #order-summary {
  text-align: center;
  overflow: scroll;
}
header .tooltip .tooltip-content #order-summary table {
  width: 100%;
  font-size: 1.2rem;
  border-collapse: collapse;
}
header .tooltip .tooltip-content #order-summary table.hidden {
  display: none;
}

header .tooltip .tooltip-content #order-summary #order-summary-list li .order-list-hdr {
  list-style-type: inherit;
  padding: 0.75rem 0.5rem;
  display: flex;
  justify-content: space-between;
}
header .tooltip .tooltip-content #order-summary #order-summary-list li .order-list-hdr li {
  padding: 0;
}
header .tooltip .tooltip-content #order-summary #order-summary-list li .order-list-hdr li span {
  font-size: 1.5rem;
  font-weight: bolder;
}
header .tooltip .tooltip-content #order-summary #order-summary-list li .order-list-hdr li i {
  font-size: 1.95rem;
}

header .tooltip .tooltip-content #order-summary #order-summary-list li .order-list-body {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  list-style-type: inherit;
}
header .tooltip .tooltip-content #order-summary #order-summary-list li .order-list-body::before {
  content: "Ingredients:";
  font-weight: bolder;
}
header .tooltip .tooltip-content #order-summary #order-summary-list li .order-list-body li {
  padding: 0 0.25rem;
}
header .tooltip .tooltip-content #order-summary #order-summary-list li .order-list-body li:last-child {
  padding-right: 0;
}
header .tooltip .tooltip-content #order-summary #order-summary-list li .order-list-body li:not(:last-child)::after {
  content: ",";
}
header .tooltip .tooltip-content #order-summary #order-summary-list li .order-list-body::after {
  content: ".";
}

header .tooltip .tooltip-content #order-summary #order-summary-list li .order-list-foot {
  list-style-type: inherit;
  border-top: 2px solid gray;
  display: flex;
  justify-content: flex-end;
}
header .tooltip .tooltip-content #order-summary #order-summary-list li .order-list-foot li {
  font-size: 1.15rem;
}
header .tooltip .tooltip-content #order-summary #order-summary-list li .order-list-foot li:nth-child(2)::before {
  content: "x";
}
header .tooltip .tooltip-content #order-summary #order-summary-list li .order-list-foot li:nth-child(odd) {
  font-weight: bold;
}
header .tooltip .tooltip-content #order-summary #order-summary-list li .order-list-foot li:last-child::before {
  content: "$";
}

header .tooltip .tooltip-content #order-summary #order-summary-list {
  list-style-type: none;
}
header .tooltip .tooltip-content #order-summary #order-summary-list li {
  background-color: lightgray;
  padding: 1.15rem 0.95rem;
  border-radius: 10px;
}
header .tooltip .tooltip-content #order-summary #order-summary-list.hidden {
  display: none;
}

header .tooltip .tooltip-content #order-summary #list-view-toggle-btn {
  position: relative;
  left: 40%;
  display: inline-block;
  background: #000;
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  border: 3px solid black;
  background-color: transparent;
}
header .tooltip .tooltip-content #order-summary #list-view-toggle-btn .pressed {
  background-color: black;
}
header .tooltip .tooltip-content #order-summary #list-view-toggle-btn .pressed i {
  color: white;
}
header .tooltip .tooltip-content #order-summary #list-view-toggle-btn.hidden {
  display: none;
}

header .tooltip .tooltip-content #order-summary #order-summary-btn-group .btn {
  display: inline-block;
  background: #000;
  color: #fff;
  font-family: inherit;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0.65rem 1.2rem;
  margin: 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 6px 2px 9px 2px rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease-in-out;
}
header .tooltip .tooltip-content #order-summary #order-summary-btn-group .btn:active {
  box-shadow: none;
}
header .tooltip .tooltip-content #order-summary #order-summary-btn-group .btn:disabled {
  box-shadow: none;
  opacity: 0.2;
}
header .tooltip .tooltip-content #order-summary #order-summary-btn-group .btn i {
  color: white;
}

header .tooltip .tooltip-content #order-summary {
  height: 100%;
  overflow: scroll;
}
header .tooltip .tooltip-content #order-summary #order-summary-btn-group {
  display: flex;
  justify-content: space-around;
}
header .tooltip .tooltip-content #order-summary #order-summary-btn-group.hidden {
  display: none;
}
header .tooltip .tooltip-content #order-summary.hidden {
  display: none;
}

header .tooltip .tooltip-content {
  right: 0;
  width: 450px;
  height: 625px;
  top: 120%;
  left: -380px;
}
header .tooltip .tooltip-content #checkout i {
  font-size: 2.75rem;
}
header .tooltip .tooltip-content #checkout > i {
  margin: 5rem 0;
  font-size: 15rem;
  color: gray;
  opacity: 0.5;
}
header .tooltip .tooltip-content #checkout p {
  font-size: 2rem;
  font-weight: bolder;
  color: red;
}
header .tooltip .tooltip-content #checkout .btn {
  display: inline-block;
  background: #000;
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 3rem 0 0 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid black;
}
header .tooltip .tooltip-content #checkout.hidden {
  display: none;
}

header#header #cart-items {
  position: relative;
}
header#header #cart-items > i + #cart-items-count {
  position: absolute;
  bottom: 15px;
  left: 15px;
  background-color: red;
  padding: 0.1rem 0.5rem;
  border-radius: 3px;
  font-size: 1.05rem;
}
header#header #cart-items > i + #cart-items-count.hidden {
  display: none;
}
header .tooltip {
  position: relative;
}
header .tooltip-content {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px;
  white-space: nowrap;
  border-radius: 5px;
  position: absolute;
}
header .tooltip-content::after {
  content: "";
  position: absolute;
  bottom: 100%;
  border-color: transparent transparent white transparent;
  left: 90%;
  transform: translateX(-90%);
  border-width: 10px;
  border-style: solid;
}
header .tooltip-content.hidden {
  display: none;
}

main {
  width: 100%;
}
main h1 {
  font-size: 1.5rem;
  text-align: center;
  margin: 10vh 10vw;
}
@media (min-width: 768px) {
  main h1 {
    margin: 5vh 0;
  }
}
main #products {
  padding-bottom: 10vh;
}
main #results {
  position: absolute;
  width: 90%;
  background: white;
  color: black;
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}
main #results .modal-header-close {
  font-size: 2.5rem;
  margin-right: 0.5rem;
  align-self: flex-end;
  margin-left: 0.5rem;
  cursor: pointer;
}
main #results .modal-header-text {
  font-size: 1.75rem;
  align-self: center;
  text-decoration: underline;
}
main #results .modal-body {
  margin: 1rem;
  height: 100%;
}
@media (min-width: 768px) {
  main #results {
    position: absolute;
    width: 58.5%;
    background: white;
    color: black;
  }
  main #results .modal-header-close {
    font-size: 2.5rem;
    margin-right: 0.5rem;
    align-self: flex-end;
    margin-left: 0.5rem;
    cursor: pointer;
  }
  main #results .modal-header-text {
    font-size: 1.75rem;
    align-self: center;
    text-decoration: underline;
  }
  main #results .modal-body {
    margin: 1rem;
    height: 100%;
  }
}
main #results.hidden {
  display: none;
}