@import '../../utils/shapes';

@mixin category-result($width, $height, $text-padding, $font-size) {
   margin: 0 auto;
   border: 1px solid lightgrey;
   width: $width;
   height: $height;
   &-image-thumb {
      width: 100%;
      height: 100%;
   }
   &-title {
      display: inline-block;
      width: 100%;
      position: relative;
      bottom: 0.95 * $height;
      background-color: white;
      padding: $text-padding 0;
      text-align: center;
      font-size: $font-size;
  } 
  .selection {
	  display: inline-block;                                                                     
      width: 100%;
      height: 100%;
      opacity: 70%;
      background-color: black;

	  position: absolute;
	  top: 0;
	  left: 0;

	  &::before {
		  position: relative;
		  top: 20%;
		  left: 40%;
		  @include x-left(grey, 50%, .08);
		  transform-origin: left bottom;
	  }
	  &::after {
		  position: relative;
		  top: 52%;
		  left: 41%;
		  @include x-right(grey, 20%, .20);
		  transform-origin: left bottom;
	  }
  }
}
