%features {
   margin: 2rem;
   .features-listing {
	   margin: 2rem;
	   display: flex;
	   #features-listing-icon {
		   align-self: center;
		   font-size: 2.5rem;
		   margin: 0 2rem;
	   }
	   &-text {
		   &-heading {
			   font-size: 1.5rem;
			   font-weight: bold;
		   }
		   &-description {
		   }
	   }
   }
}
