@import '../utils/button', '../parts/main/recipes', '../parts/main/categories', '../parts/main/category-result-btn-group', '../parts/main/tabs';

$primary-color:  #282828;
$secondary-color: #ff652f;

%modal-body {
    #recipe-results {
	    &-hdr {
		    white-space: nowrap;
			@include tabs($primary-color);
		}
	    @extend %recipe-result;
	}
	#category-results {
		@extend %category-result;
		#category-results-btn-group {
		    @extend %results-btn-group;
		}
		&.hidden {
		   display: none;
		}
	}
}
