@import 'utils/config', 'parts/header', 'parts/footer', 'parts/main/features', 'parts/main/products';

header {
    @extend %header;
}
main {
    width: 100%;
	h1 {
	   font-size: 1.5rem;
	   text-align: center;
	   margin: 10vh 10vw;
	   @include md {
		  margin: 5vh 0;
	   }
	}
	#features {
	   @extend %features;
	}
	#products {
	   @extend %products;
	}
}
footer {
    @extend %footer;
}
