@import 'utils/config', 'parts/header', 'parts/footer', 'parts/main/features', 'parts/main/products', 'modal/modal';

$modal-width: 90%;
$modal-bg-color: white;
$modal-text-color: black;

header {
    @extend %header;
}
main {
    width: 100%;
	h1 {
	   font-size: 1.5rem;
	   text-align: center;
	   margin: 10vh 10vw;
	   @include md {
		  margin: 5vh 0;
	   }
	}
	#features {
	   @extend %features;
	}
	#products {
	   @extend %products;
	   padding-bottom: 10vh;
	}
	#results {
	   @include modal($modal-width, $modal-bg-color, $modal-text-color, true, false);
	   @include md {
		  @include modal(0.65 * $modal-width, $modal-bg-color, $modal-text-color, true, false);
	   }
	   position: absolute;
       top: 10vh;
	   left: 50%;
	   transform: translateX(-50%);
	   @include box-shadow(0, 3px, 10px, 0, rgb(0 0 0 / 0.2), false);

	   &.hidden {
	       display: none;
	   }
	}
}
footer {
    @extend %footer;
}
