@import 'utils/config', 'parts/header', 'parts/footer', 'parts/main/features', 'parts/main/products', 'modal/modal', 'tooltip/tooltip', 'tooltip/tooltip-content';

$modal-width: 90%;
$modal-bg-color: white;
$modal-text-color: black;

header {
    &#header {
	    #cart-items {
		    position: relative;
		    & > i + #cart-items-count {
				position: absolute; 
				bottom: 15px;
				left: 15px;
				background-color: red;
				padding: 0.10rem 0.5rem;
				border-radius: 3px;
				font-size: 1.05rem;

				&.hidden {
					display: none;
				}
			}
		}
	}
    @extend %header;
	.tooltip {
	   @include tooltip(1rem, white, black);
	   @extend %tooltip-content;
	}
}
main {
    width: 100%;
	h1 {
	   font-size: 1.5rem;
	   text-align: center;
	   margin: 10vh 10vw;
	   @include md {
		  margin: 5vh 0;
	   }
	}
	#features {
	   @extend %features;
	}
	#products {
	   @extend %products;
	   padding-bottom: 10vh;
	}
	#results {
	   @include modal($modal-width, $modal-bg-color, $modal-text-color, true, false);
	   @include md {
		  @include modal(0.65 * $modal-width, $modal-bg-color, $modal-text-color, true, false);
	   }
	   position: absolute;
       top: 10vh;
	   left: 50%;
	   transform: translateX(-50%);
	   @include box-shadow(0, 3px, 10px, 0, rgb(0 0 0 / 0.2), false);

	   &.hidden {
	       display: none;
	   }
	}
}
footer {
    @extend %footer;
}
