%menu {
    list-style-type: none;
    li {
	   font-size: 1.2rem;
       display: inline;
       cursor: pointer;

       margin-right: 1.25rem;
       &:hover {
           font-weight: bolder;
       }
   }  
}
