%site-identifier {
    #logo-icon {                                                                                       
        font-size: 1.45rem;
        color: blue; 

        @include md{
            visibility: hidden;
        }
    }
    #company-name {
        margin-left: 5px;
        font-size: 1.5rem;
        @include str-alt-colors("Googol!");

        visibility: hidden;
        @include md{
            visibility: visible;
        }
    }
}
